{{ template "header" $ }}{{ with index $.Contacts 0 }}
<h1>{{ $.Title }}</h1>
<table title="ID: {{ .ID }}">{{ with .First }}
    <tr>
        <td>First</td>
        <td>{{ . }}</td>
    </tr>{{end}}{{ with .Last }}
    <tr>
        <td>Last</td>
        <td>{{ . }}</td>
    </tr>{{end}}{{ with .Suffix }}
    <tr>
        <td>Generation/Suffix</td>
        <td>{{ . }}</td>
    </tr>{{end}}{{ with .DisplayName }}
    <tr>
        <td>Display</td>
        <td>{{ . }}</td>
    </tr>{{end}}{{ $name := .DisplayName }}{{ with .Email }}
    <tr>
        <td>Email</td>
        <td>{{ range . }}<span class=email><a href='mailto:"{{ $name }}" <{{ . }}>'>{{ . }}</a></span> {{end}}</td>
    </tr>{{end}}{{ with .Phone }}
    <tr>
        <td>Phone</td>
        <td>{{ range . }}<span class=phone><a href="tel:{{ . }}">{{ . }}</a></span> {{end}}</td>
    </tr>{{end}}{{ with .Street }}
    <tr>
        <td>Street</td>
        <td>{{ range . }}<span class=street>{{ . }}</span>{{end}}</td>
    </tr>{{end}}{{ with .City }}
    <tr>
        <td>City</td>
        <td>{{ . }}</td>
    </tr>{{end}}{{ with .State }}
    <tr>
        <td>State</td>
        <td>{{ . }}</td>
    </tr>{{end}}{{ with .Zip }}
    <tr>
        <td>Zip</td>
        <td>{{ . }}</td>
    </tr>{{end}}{{ with .Country }}
    <tr>
        <td>Country</td>
        <td>{{ . }}</td>
    </tr>{{end}}{{ $age := .Age }}{{ with .BirthDate }}
    <tr>
        <td>Birthdate</td>
        <td {{ with $age }}title="{{ . }}" {{end}}>{{ . }}</td>
    </tr>{{end}}{{ with .Labels }}
    <tr class=labels>
        <td>Labels</td>
        <td>{{ range . }}
            <span class=label><a href='{{ contactsLink ( makeValues "label" . ) }}'>{{ . }}</a></span> {{end}}</td>
    </tr>{{end}}
</table>
<nav>
    <ul>
        <li><a href="{{ editLink $.Request.Form }}">Edit {{ .DisplayName }}</a></li>
        <li><a href="{{ deleteLink $.Request.Form }}">Delete {{ .DisplayName }}</a></li>
    </ul>
</nav> {{ end }} {{ template "footer" $ }}
