{{ template "header" $ }}{{ with index $.Contacts 0 }}
<h1>{{ $.Title }}</h1>
<table title="ID: {{ .ID }}">
    <tr>
        <td>First</td>
        <td>{{ .First }}</td>
    </tr>
    <tr>
        <td>Last</td>
        <td>{{ .Last }}</td>
    </tr>
    <tr>
        <td>Display</td>
        <td>{{ .DisplayName }}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{ $name := .DisplayName }}{{ range .Email }}<span class=email><a href='mailto:"{{ $name }}" <{{ . }}>'>{{ . }}</a></span> {{end}}</td>
    </tr>
    <tr>
        <td>Phone</td>
        <td>{{ range .Phone }}<span class=phone><a href="tel:{{ . }}">{{ . }}</a></span> {{end}}</td>
    </tr>
    <tr>
        <td>Birthdate</td>
        <td>{{ .BirthDate }}</td>
    </tr>
    <tr class=labels>
        <td>Labels</td>
        <td>{{ range .Labels }}<span class=label><a href='{{ birthdaysLink ( makeValues "label" . ) }}'>{{ . }}</a></span> {{end}}</td>
    </tr>
</table>
<a href="{{ editLink $.Request.Form }}">Edit {{ .DisplayName }}</a> {{ end }} {{ template "footer" $ }}
