{{ template "header" $ }}
<h1>Contacts</h1>
<table class="contacts">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>{{ range .Contacts }}
        <tr>
            <td><a href="/contacts/detail/?dn={{.ID}}"><span class=name>{{.Name}}</span></a></td>
            <td><a href="tel:{{ .Phone }}">{{ .Phone }}</a></td>
            <td><a href="mailto:{{ .Email }}">{{ .Email }}</a></td>
        </tr>{{ end }}
    </tbody>
</table>
{{ template "footer" $ }}
