{{ template "header" $ }}
<h1>{{ $.Title }}</h1>
<table class="contacts">
    <caption>Total: {{ len $.Contacts }} ( {{ mailtoLinks $.Contacts }} )</caption>
    <thead>
        <tr>
            <th>Name</th>
            <th>Birthday</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>{{ range .Contacts }}
        <tr>
            <td><a href='{{ detailLink ( makeValues "dn" .ID ) }}'><span class=name>{{.DisplayName}}</span></a></td>
            <td>{{ .BirthDate }}</td>
            <td>{{ with .Phone }}<a href="tel:{{ index . 0 }}">{{ index . 0 }}</a>{{end}}</td>
            <td>{{ mailtoLink . }}</td>
        </tr>{{ end }}
    </tbody>
</table>
{{ template "footer" $ }}
